{{!-- https://stackoverflow.com/questions/12297959/access-properties-of-the-parent-with-a-handlebars-each-loop --}}

<p>{{@root.length}}</p>
<p>{{@root.title}}</p>

{{#unless pictures}}
    {{!-- I would add a CSS rule in your stylesheet for these images --}}
    {{!-- Avoiding in-line styles means that if you want to later change things, you don't have to jump around later--}}
    <img src="{{@root.pic}}" style="height:40vh;width:33vw;overflow:auto;">
{{else}}
    {{!-- Nice error handling --}}
    <h2>That picture couldn't be found!</h2>
{{/unless}}

<div>
    <form action="?_method=put" method="post">
        <div>
            <label>Update Image Title</label>
            <input type="text" name="pictures[title]" placeholder="Update Title">
        </div>
        <div>
            <button type="submit" class="btn" style="background-color:black;"> Update Title! </button>
        </div> 
    </form>
    <form action="/pictures/{{ @root.title }}?_method=delete" method="post">
        <div>
            <button type="submit" class="btn" style="background-color:black;">Delete Image!</button>
        </div>
    </form>
</div>
