

{{!-- <p>{{pictures.length}}</p> --}}

{{#each pictures as |picture index|}}
<p style="font-size:30px;">{{picture.title}}</p>    
    <a href="/pictures/{{picture.title}}">
        <img class="picture" src="{{picture.pic}}" style="height:530px;width:780px;overflow:auto;">
    </a>
<p>Uploaded {{picture.date}}</p>    
{{/each}}

